<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <title>Morphic</title>
    <license file="License.rtf" mime-type="application/rtf" />
    <pkg-ref id="org.raisingthefloor.Morphic.pkg"/>
    <options customize="never" require-scripts="false" hostArchitectures="x86_64,arm64"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="12.0"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="org.raisingthefloor.Morphic.pkg"/>
        </line>
    </choices-outline>
    <choice id="default" title="Morphic"/>
    <choice id="org.raisingthefloor.Morphic.pkg" title="Morphic" visible="false">
        <pkg-ref id="org.raisingthefloor.Morphic.pkg"/>
    </choice>
    <pkg-ref id="org.raisingthefloor.Morphic.pkg" onConclusion="none">org.raisingthefloor.Morphic.pkg</pkg-ref>
</installer-gui-script>